.popularReleases{
    position: relative;
    padding: calc(var(--section-padding-top) * 2) 0;
    background: var(--gradient-bottom);
}

.popularReleases h2{
    text-align: center;
    font-size: 4.5rem;
}

.embedWrapper{
    padding: 4vw 20%;
    height: 30vw;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .embedWrapper{
        padding: 6vw 5%;
        height: 50vw;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .popularReleases h2{
        font-size: 4rem;
    }
    .embedWrapper{
        padding: 10vw 1%;
        height: 90vw;
    }
}