.header{
    position: relative;
    padding: calc(var(--section-padding-top) * 5) 0 calc(var(--section-padding-top) * 5) 0;
}

.logo{
    display: none;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    gap: 4vw;
}

.logoItem svg{
    width: 4vw;
    height: 4vw;
    color: white;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .header{
        padding: calc(var(--section-padding-top) * 5) 0 calc(var(--section-padding-top) * 5) 0;
    }

    .logo{
        display: inline-block;
        position: relative;
        top: -10vw
    }
    .logos{
        margin-top: 3vw;
        gap: 5vw;
    }
    
    .logoItem svg{
        width: 8vw;
        height: 8vw;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .header{
        padding: calc(var(--section-padding-top) * 5) 0 calc(var(--section-padding-top) * 5) 0;
    }
    .logo{
        display: inline-block;
        position: relative;
        top: -15vw;
        width: 80vw;
    }
    .logos{
        margin-top: 4vw;
        gap: 5vw;
    }
    
    .logoItem svg{
        width: 12vw;
        height: 12vw;
    }
}